body {
   background-color: #050505;
   color: #eee;
   font-family: 'Courier New', monospace;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.menu-screen {
   text-align: center;
   width: 400px;
   border: 1px solid #333;
   padding: 40px;
   background: rgba(0, 0, 0, 0.9);
   box-shadow: 0 0 20px rgb(137, 23, 23);
}

.hidden {
   display: none;
}

h1 {
   font-size: 3rem;
   letter-spacing: 5px;
   color: #fff;
   text-shadow: 2px 2px #891717;
   margin-bottom: 50px;
}

nav button {
   display: block;
   width: 100%;
   padding: 15px;
   margin: 10px 0;
   background: transparent;
   color: #ccc;
   border: 1px solid #444;
   cursor: pointer;
   transition: all 0.3s ease;
   text-transform: uppercase;
   letter-spacing: 2px;
}

nav button:hover {
   background: #891717;
   color: #fff;
   border-color: #891717;
   box-shadow: 0 0 15px #891717; 
   transform: scale(1.05);
}